html {
    height: 100%;
}

body {
    height: calc(100% - 60px);
    margin: 30px 50px;
}

/*分页的当前页的字体颜色*/
.layui-laypage .layui-laypage-curr em {
    color: #333334;
}

/*分页栏选中样式*/
.layui-laypage .layui-laypage-curr .layui-laypage-em {
    position: absolute;
    left: -1px;
    top: -1px;
    padding: 1px;
    width: 100%;
    height: 100%;
    background-color: #029803;
}

/*输入产品标题的Input框*/
.SearchTitle {
    width: calc(100% - 91px);
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    opacity: 1;
    border-radius: 6px;
    float: left;
    padding-left: 50px;
    margin-left: 40px;
}

/*搜索框*/
.searchOrder {
    padding-left: 20px;
    width: 40px;
    height: 20px;
    background: #FFFFFF;
    opacity: 1;
    /* border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;*/
    border-radius: 6px;
    border: 0px solid #029803;
    cursor: pointer;
    margin-left: calc(-1 * (100% - 41px));
    margin-top: 10px;
}

/*大的内容样式*/
.content {
    width: 100%;
    background: #FFFFFF;
    border-radius: 10px 10px 10px 10px;
    opacity: 1;
    margin-top: 20px;
    height: calc(100% - 90px);
}

/*头部标题框*/
.top {
    margin: 0px 40px;
    width: calc(100% - 80px);
    height: 48px;
    line-height: 48px;
}

.productList {
    height: calc(100% - 48px);
    overflow-y: auto;
    width: 100%;
}

/*单个产品框样式*/
.product {
    margin: 0px 40px;
    height: 120px;
    width: calc(100% - 80px);
    border-top: 1px solid #DDDDDD;
}

/*单个产品中间内容部分样式*/
.product-content {
    height: 80px;
    margin: 20px 0px;
    width: 100%;
}

/*单个产品里面的标题样式*/
.product-title {
    height: 80px;
    width: calc(100% - 140px);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    float: left;
    font-size: 16px;

    font-weight: 400;
    color: #333333;
    overflow: hidden;
}

/*单个产品的上市成本样式*/
.listingcost {
    font-size: 16px;

    font-weight: bold;
    color: #333333;
    height: 80px;
}

/*取消同步按钮样式*/
.outsync {
    width: 170px;
    /* height: 32px; */
    background: #FFFFFf;
    border-radius: 6px 6px 6px 6px;
    opacity: 1;
    border: 1px solid #DDDDDD;
    font-size: 14px;

    font-weight: 400;
    color: #333333;
}

/*同步按钮样式*/
.sync {
    width: 170px;
    /* width: 170px;
    height: 32px; */
    background: #029803;
    border-radius: 6px 6px 6px 6px;
    opacity: 1;
    border: 1px solid #029803;
    font-size: 14px;

    font-weight: bold;
    color: #ffffff;
    margin-top: 24px;
}

/*sku同步提示框*/
.info {
    margin-top: -55px;
    position: absolute;
    width: 308px;
    height: 40px;
    line-height: 40px;
    background: #000000;
    /* box-shadow: 1px 2px 3px #e9d985;*/
    border: 1px solid #000000;
    border-radius: 4px;
    text-align: center;
    color: #FFFFFF;
    z-index: 99;
    margin-left: -30px;
    /* opacity: 0.8;*/
}

.nav {
    position: absolute;
    left: 30px;
    overflow: hidden;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid dashed dashed dashed;
    /* opacity: 0.8 !important;*/
}

.nav-background {
    top: 40px;
    border-color: #000000 transparent transparent transparent;
    /*opacity: 0.8;*/
}